* **Mounting the Drive**

In [ ]:
# Mounting the Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##  **1. Importing the Required Modules**

In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##  **2. Importing the Dataset**

In [99]:
df=pd.read_csv('http://data.insideairbnb.com/uconn/msbapm/capstone/2022/fall/listings-united-states-2022-07.csv.gz', compression='gzip')

* **Printing the First 5 Rows of the Dataset**

In [100]:
pd.set_option('display.max_columns', None)
df.head()

,id,listing_url,scrape_id,last_searched,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,region_id,region_name,region_parent_id,region_parent_name,region_parent_parent_id,region_parent_parent_name,reviews_per_month
0,35575312,https://www.airbnb.com/rooms/35575312,20220717002814,2022-07-17,2022-07-22,WV Mountain cottage minutes from New River Gorge,"Located on Green Acres campground, just .2 mil...",Rural community. Quaint nearby towns and growi...,https://a0.muscache.com/pictures/f0ee66c4-9091...,60091041,https://www.airbnb.com/users/show/60091041,Jeanne,2016-02-23,"Murrells Inlet, South Carolina, United States",Easy going. Like to laugh and travel.,within an hour,100%,90%,t,https://a0.muscache.com/im/pictures/user/d1b9a...,https://a0.muscache.com/im/pictures/user/d1b9a...,NaN,6.0,6.0,"['email', 'phone']",t,t,"Oak hill, West Virginia, United States",37.97405,-81.15124,Entire cottage,Entire home/apt,4,NaN,1 bath,3.0,3.0,"[""Cooking basics"", ""Kitchen"", ""Stove"", ""BBQ gr...",$150.00,1,14,1.0,1.0,14.0,14.0,1.0,14.0,NaN,t,21,49,79,352,2022-07-22,45,13,0,2019-10-13,2022-03-27,4.78,4.84,4.82,4.78,4.82,4.76,4.62,NaN,NaN,f,7,7,0,0,19,Fayette,54,West Virginia,NaN,NaN,1.33
1,635519741001985764,https://www.airbnb.com/rooms/635519741001985764,20220717002814,2022-07-17,2022-07-20,Ptarmigan Ranch North Fork Views!,Welcome to Ptarmigan Ranch! This beautiful thr...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,80717299,https://www.airbnb.com/users/show/80717299,Cody Lodging,2016-06-29,"Cody, Wyoming, United States",Are you looking for a true Western vacation? T...,within an hour,94%,97%,t,https://a0.muscache.com/im/pictures/user/b58c3...,https://a0.muscache.com/im/pictures/user/b58c3...,NaN,67.0,67.0,"['email', 'phone']",t,t,NaN,44.46062,-109.49870,Entire home,Entire home/apt,6,NaN,2 baths,3.0,3.0,"[""Washer"", ""Free parking on premises"", ""Kitche...",$513.00,1,365,3.0,3.0,365.0,365.0,3.0,365.0,NaN,t,27,57,70,70,2022-07-20,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,79,78,1,0,29,Park,56,Wyoming,NaN,NaN,NaN
2,50490291,https://www.airbnb.com/rooms/50490291,20220717002814,2022-07-17,2022-07-23,The Northwoods Nook Blairsville,Unwind at the Northwoods Nook in the mountains...,Quiet gravel road plenty of privacy,https://a0.muscache.com/pictures/miso/Hosting-...,22954841,https://www.airbnb.com/users/show/22954841,Paul,2014-10-25,"Blairsville, Georgia, United States",After 30 years as a corporate chef it was time...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/cf592...,https://a0.muscache.com/im/pictures/user/cf592...,NaN,0.0,0.0,"['email', 'phone']",t,t,"Blairsville, Georgia, United States",34.93313,-84.01243,Entire cabin,Entire home/apt,6,NaN,3 baths,3.0,5.0,"[""BBQ grill"", ""Hangers"", ""Freezer"", ""Washer"", ...",$145.00,2,28,2.0,2.0,1125.0,1125.0,2.0,1125.0,NaN,t,14,44,72,334,2022-07-23,10,10,0,2021-08-01,2022-06-04,5.00,4.90,4.80,5.00,5.00,4.80,5.00,NaN,NaN,t,1,1,0,0,291,Union,13,Georgia,NaN,NaN,0.84
3,40991125,https://www.airbnb.com/rooms/40991125,20220717002814,2022-07-17,2022-07-27,"Cozy Private Casita on Canyon Road, Walk to Plaza",Casita de Artista is like new and a recently r...,Canyon Road is a historic and lovely neighborh...,https://a0.muscache.com/pictures/4d4e8853-9e4f...,212710788,https://www.airbnb.com/users/show/212710788,Jessica,2018-08-30,"Santa Fe, New Mexico, United States",I’m a graduate student in the United States. I...,within a few hours,100%,94%,t,https://a0.muscache.com/im/pictures/user/f6df2...,https://a0.muscache.com/im/pictures/user/f6df2...,NaN,2.0,2.0,"['email', 'phone', 'work_email']",t,t,"Santa Fe, New Mexico, United States",35.68081,-105.92927,Entire home,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""Essentials"", ""Oven"", ""Coffee maker"", ""Hair d...",$196.00,2,7,2.0,2.0,7.0,7.0,2.0,7.0,NaN,t,0,11,22,22,2022-07-27,19,9,3,2020-06-07,2022-07-18,4.89,4.95,5.00,4.89,4.95,5.00,4.84,NaN,STR230468,f,2,2,0,0,49,Santa Fe,35,New Mexico,NaN,NaN,0.73
4,52090522,https://www.airbnb.com/rooms/52090522,20220717002814,2022-07-17,2022-07-23,Guest Suite w/ Forest & Pasture Views Mins Fro...,Forget your worries in this peaceful and seren...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,119778179,https://www.airbnb.com/users/show/119778179,Jessica,2017-03-08,"Hendersonville, North Carolina, United States",NaN,within an hour,100%,100%,f,https://a0.muscache.com/im/pictures/user/393a8...,https://a0.muscache.com/im/pictures/user/393a8...,NaN,0.0,0.0,"['email', 'phone']",t,f,NaN,35.47187,-82.97092,Entire guesthouse,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""TV with standard cable"", ""Private entrance"",...",$120.00,2,1125,2.0,2.0,1125.0,1125.0,2.0,1125.0,NaN,t,25,55,85,360,2022-07-23,3,3,0,2021-10-15,2021-11-28,5.00,5.00,5.00,5.00,5.00,5.00,5.00,NaN,NaN,t,1,1,0,0,87,Haywood,37,North Carolina,NaN,NaN,0.32

* **Summary of the Dataset**

In [101]:
# Summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1252866 entries, 0 to 1252865
Data columns (total 80 columns):
 #   Column                                        Non-Null Count    Dtype
---  ------                                        --------------    -----
 0   id                                            1252866 non-null  int64
 1   listing_url                                   1252866 non-null  object
 2   scrape_id                                     1252866 non-null  int64
 3   last_searched                                 1122641 non-null  object
 4   last_scraped                                  1252866 non-null  object
 5   name                                          1252822 non-null  object
 6   description                                   1237925 non-null  object
 7   neighborhood_overview                         762169 non-null   object
 8   picture_url                                   1252863 non-null  object
 9   host_id                                       1252866 non-null  int64
 10  host_url                                      1252866 non-null  object
 11  host_name                                     1245116 non-null  object
 12  host_since                                    1245117 non-null  object
 13  host_location                                 1242849 non-null  object
 14  host_about                                    728620 non-null   object
 15  host_response_time                            1102252 non-null  object
 16  host_response_rate                            1102252 non-null  object
 17  host_acceptance_rate                          1146738 non-null  object
 18  host_is_superhost                             1245117 non-null  object
 19  host_thumbnail_url                            1245117 non-null  object
 20  host_picture_url                              1245117 non-null  object
 21  host_neighbourhood                            548307 non-null   object
 22  host_listings_count                           1245117 non-null  float64
 23  host_total_listings_count                     1245117 non-null  float64
 24  host_verifications                            1245117 non-null  object
 25  host_has_profile_pic                          1245117 non-null  object
 26  host_identity_verified                        1245117 non-null  object
 27  neighbourhood                                 762180 non-null   object
 28  latitude                                      1252866 non-null  float64
 29  longitude                                     1252866 non-null  float64
 30  property_type                                 1252866 non-null  object
 31  room_type                                     1252866 non-null  object
 32  accommodates                                  1252866 non-null  int64
 33  bathrooms                                     0 non-null        float64
 34  bathrooms_text                                1251416 non-null  object
 35  bedrooms                                      1182836 non-null  float64
 36  beds                                          1235768 non-null  float64
 37  amenities                                     1252866 non-null  object
 38  price                                         1252866 non-null  object
 39  minimum_nights                                1252866 non-null  int64
 40  maximum_nights                                1252866 non-null  int64
 41  minimum_minimum_nights                        1252805 non-null  float64
 42  maximum_minimum_nights                        1252805 non-null  float64
 43  minimum_maximum_nights                        1252805 non-null  float64
 44  maximum_maximum_nights                        1252805 non-null  float64
 45  minimum_nights_avg_ntm                        1252805 non-null  float64
 46  maximum_nights_avg_ntm                        1252805 non-null  float64
 47  calendar_updated                              0 non-null        float64
 48  has_availability                              1252866 non-null  object
 49  availability_30                               1252866 non-null  int64
 50  availability_60                               1252866 non-null  int64
 51  availability_90                               1252866 non-null  int64
 52  availability_365                              1252866 non-null  int64
 53  calendar_last_scraped                         1252866 non-null  object
 54  number_of_reviews                             1252866 non-null  int64
 55  number_of_reviews_ltm                         1252866 non-null  int64
 56  number_of_reviews_l30d                        1252866 non-null  int64
 57  first_review                                  1047712 non-null  object
 58  last_review                                   1047712 non-null  object
 59  review_scores_rating                          1047712 non-null  float64
 60  review_scores_accuracy                        1044694 non-null  float64
 61  review_scores_cleanliness                     1044717 non-null  float64
 62  review_scores_checkin                         1044614 non-null  float64
 63  review_scores_communication                   1044697 non-null  float64
 64  review_scores_location                        1044599 non-null  float64
 65  review_scores_value                           1044591 non-null  float64
 66  requires_license                              0 non-null        float64
 67  license                                       119956 non-null   object
 68  instant_bookable                              1252866 non-null  object
 69  calculated_host_listings_count                1252866 non-null  int64
 70  calculated_host_listings_count_entire_homes   1252866 non-null  int64
 71  calculated_host_listings_count_private_rooms  1252866 non-null  int64
 72  calculated_host_listings_count_shared_rooms   1252866 non-null  int64
 73  region_id                                     1252866 non-null  int64
 74  region_name                                   1252866 non-null  object
 75  region_parent_id                              1252866 non-null  int64
 76  region_parent_name                            1252866 non-null  object
 77  region_parent_parent_id                       0 non-null        float64
 78  region_parent_parent_name                     0 non-null        float64
 79  reviews_per_month                             1047712 non-null  float64
dtypes: float64(25), int64(19), object(36)
memory usage: 764.7+ MB

##  **3. Data Preprocessing**

### **3.1 Exploring Missing Values**

In [102]:
print("Number of Missing Values (Columnwise) :\n")
pd. set_option('display.max_rows', 500)
df.isna().sum()

Number of Missing Values (Columnwise) :

id                                                    0
listing_url                                           0
scrape_id                                             0
last_searched                                    130225
last_scraped                                          0
name                                                 44
description                                       14941
neighborhood_overview                            490697
picture_url                                           3
host_id                                               0
host_url                                              0
host_name                                          7750
host_since                                         7749
host_location                                     10017
host_about                                       524246
host_response_time                               150614
host_response_rate                               150614
host_acceptance_rate                             106128
host_is_superhost                                  7749
host_thumbnail_url                                 7749
host_picture_url                                   7749
host_neighbourhood                               704559
host_listings_count                                7749
host_total_listings_count                          7749
host_verifications                                 7749
host_has_profile_pic                               7749
host_identity_verified                             7749
neighbourhood                                    490686
latitude                                              0
longitude                                             0
property_type                                         0
room_type                                             0
accommodates                                          0
bathrooms                                       1252866
bathrooms_text                                     1450
bedrooms                                          70030
beds                                              17098
amenities                                             0
price                                                 0
minimum_nights                                        0
maximum_nights                                        0
minimum_minimum_nights                               61
maximum_minimum_nights                               61
minimum_maximum_nights                               61
maximum_maximum_nights                               61
minimum_nights_avg_ntm                               61
maximum_nights_avg_ntm                               61
calendar_updated                                1252866
has_availability                                      0
availability_30                                       0
availability_60                                       0
availability_90                                       0
availability_365                                      0
calendar_last_scraped                                 0
number_of_reviews                                     0
number_of_reviews_ltm                                 0
number_of_reviews_l30d                                0
first_review                                     205154
last_review                                      205154
review_scores_rating                             205154
review_scores_accuracy                           208172
review_scores_cleanliness                        208149
review_scores_checkin                            208252
review_scores_communication                      208169
review_scores_location                           208267
review_scores_value                              208275
requires_license                                1252866
license                                         1132910
instant_bookable                                      0
calculated_host_listings_count                        0
calculated_host_listings_count_entire_homes           0
calculated_host_listings_count_private_rooms          0
calculated_host_listings_count_shared_rooms           0
region_id                                             0
region_name                                           0
region_parent_id                                      0
region_parent_name                                    0
region_parent_parent_id                         1252866
region_parent_parent_name                       1252866
reviews_per_month                                205154
dtype: int64

In [103]:
print("Total Number of Missing Values :")
df.isna().sum().sum()

Total Number of Missing Values :

12406349

### **3.2 Dropping Columns with Missing Values for every Listing**

In [104]:
# Creating a List of Columns with Missing Values Corresponding to Every Listing
cols=list()
col_names=list(df.columns)
for i in col_names:
  if df[i].isna().sum()==df.shape[0]:
    cols.append(i)
cols

['bathrooms',
 'calendar_updated',
 'requires_license',
 'region_parent_parent_id',
 'region_parent_parent_name']

In [105]:
df=df.drop(cols,axis=1)

### **3.3 Dropping Columns Irrelevant to the Analysis / Columns with Redundant Information**

In [106]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_searched', 'last_scraped',
       'name', 'description', 'neighborhood_overview', 'picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'region_id',
       'region_name', 'region_parent_id', 'region_parent_name',
       'reviews_per_month'],
      dtype='object')

In [107]:
df=df.drop(['host_thumbnail_url','host_picture_url','host_neighbourhood','neighbourhood','calendar_last_scraped','host_response_time', 'host_response_rate',
       'host_acceptance_rate','first_review', 'last_review', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value','calendar_last_scraped','bathrooms_text', 'amenities','host_listings_count',
       'host_total_listings_count','host_verifications',
       'host_has_profile_pic','region_parent_id','host_is_superhost','region_id','listing_url', 'scrape_id', 'last_searched', 'last_scraped',
       'name', 'description', 'neighborhood_overview', 'picture_url','host_url','host_about','has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365','minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm'],axis=1)

### **3.4 Imputing Missing Values for 'Beds' & 'Bedrooms' columns with respective Median Values**

In [108]:
df['beds']=df['beds'].fillna(df['beds'].median())

In [109]:
df['bedrooms']=df['bedrooms'].fillna(df['bedrooms'].median())

## **4. Feature Engineering**

### **4.1 Adding variable to check if a listing has a license or no (If Licensed then 1 , else 0)**

In [110]:
df['with_license']=np.where(df['license'].isna(),0,1)

In [111]:
df=df.drop(['license'],axis=1)

### **4.2 Adding variable to check if a listing is a STR or a LTR**

In [112]:
df['STR_vs_LTR']=np.where(df['minimum_nights']<30,'STR','LTR')

In [113]:
df['STR_vs_LTR'].value_counts()

STR_vs_LTR
STR    1133932
LTR     118934
Name: count, dtype: int64

### **4.3 Adding New Columns 'estimated_booking_ltm', 'estimated_nights_ltm' & 'estimated_revenue_ltm' which represent the number of bookings, number of nights booked & revenue generated respectively for the last 12 months '**

In [114]:
review_rate=0.5
maximum_occupancy=255
average_nights_stay=3
df['price']=df['price'].str.lstrip('$').str.replace(',','')
df['price']=pd.to_numeric(df['price'])
df['estimated_booking_ltm']=round(df['number_of_reviews_ltm']/review_rate).astype(int)
df['estimated_nights_ltm'] = round(np.minimum(df['estimated_booking_ltm'] * (np.maximum(df['minimum_nights'], average_nights_stay)),maximum_occupancy))
df['estimated_revenue_ltm'] = round(df['estimated_nights_ltm'] * df['price'])

### **4.4 Adding a New Column 'Frequency_of_renting' which shows how frequently a listing is being rented out**

In [115]:
df.loc[df['estimated_nights_ltm']<=30, 'Frequency_of_renting'] = 'occasionally rented'
df.loc[((df['estimated_nights_ltm']>30) & (df['estimated_nights_ltm']<=90)) , 'Frequency_of_renting'] = 'semi_regularly rented'
df.loc[df['estimated_nights_ltm']>90, 'Frequency_of_renting'] = 'rented full time'

### **4.5 Adding a New Column 'Commercial Nature' with 3 Categories for the listings : 'Home Sharing', 'Semi-Commercial' & 'Commercial'**

**1. Home Sharing**

In [116]:
df.loc[(df['room_type']=='Shared room') & (df['calculated_host_listings_count_shared_rooms']==1),'Commercial_Nature']='Home Sharing'
df.loc[(df['room_type']=='Shared room') & (df['calculated_host_listings_count_shared_rooms']>1) & (df['beds']<=3),'Commercial_Nature']='Home Sharing'
df.loc[(df['room_type']=='Private room') & (df['calculated_host_listings_count_private_rooms']<=3),'Commercial_Nature']='Home Sharing'
df.loc[(df['room_type']=='Entire home/apt') & (df['calculated_host_listings_count_entire_homes']==1) & (df['Frequency_of_renting']=='occasionally rented'),'Commercial_Nature']= 'Home Sharing'

**2. Semi-commercial**

In [117]:
df.loc[(df['room_type']=='Shared room') & (df['calculated_host_listings_count_shared_rooms']>1) & (df['beds']>3),'Commercial_Nature']='Semi-Commercial'
df.loc[(df['room_type']=='Private room') & (df['calculated_host_listings_count_private_rooms']>3) & (df['calculated_host_listings_count_private_rooms']<=6),'Commercial_Nature']='Semi-Commercial'
df.loc[(df['room_type']=='Entire home/apt') & (df['calculated_host_listings_count_entire_homes']==1) & (df['Frequency_of_renting']=='semi_regularly rented'),'Commercial_Nature']= 'Semi-Commercial'

**3. Commercial**

In [118]:
df.loc[(df['room_type']=='Hotel room'),'Commercial_Nature'] ='Commercial'
df.loc[(df['room_type']=='Entire home/apt') & (df['calculated_host_listings_count_entire_homes']>1),'Commercial_Nature'] ='Commercial'
df.loc[(df['room_type']=='Entire home/apt') & (df['calculated_host_listings_count_entire_homes']==1) & (df['Frequency_of_renting']=='rented full time'),'Commercial_Nature']= 'Commercial'
df.loc[(df['room_type']=='Private room') & (df['calculated_host_listings_count_private_rooms']>6),'Commercial_Nature']='Commercial'

* **Number of Listings Based on Commercial Nature**

In [119]:
df['Commercial_Nature'].value_counts()

Commercial_Nature
Commercial         854110
Home Sharing       281030
Semi-Commercial    117726
Name: count, dtype: int64

## **5. Extracting Zipcodes from Latitude & Longitude Values**

In [120]:
# Creating a New Dataframe 'df_zip'
df_zip=df[['id','latitude','longitude']]

* **Installing Required Packages**

In [121]:
!pip install pandas fiona shapely pyproj rtree

Requirement already satisfied: pandas in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: fiona in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (1.9.5)
Requirement already satisfied: shapely in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (2.0.3)
Requirement already satisfied: pyproj in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (3.6.1)
Requirement already satisfied: rtree in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (1.0.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from pandas) (2020.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: cligj>=0.5 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona) (0.7.2)
Requirement already satisfied: attrs>=19.2.0 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona) (22.1.0)
Requirement already satisfied: click~=8.0 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona) (8.1.7)
Requirement already satisfied: certifi in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona) (2023.7.22)
Requirement already satisfied: click-plugins>=1.0 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona) (1.1.1)
Requirement already satisfied: six in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona) (1.15.0)
Requirement already satisfied: setuptools in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona) (65.6.3)

In [122]:
!pip install geopandas
import geopandas as gpd

Requirement already satisfied: geopandas in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (0.14.3)
Requirement already satisfied: fiona>=1.8.21 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from geopandas) (1.9.5)
Requirement already satisfied: packaging in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from geopandas) (22.0)
Requirement already satisfied: pandas>=1.4.0 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from geopandas) (2.2.1)
Requirement already satisfied: shapely>=1.8.0 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from geopandas) (2.0.3)
Requirement already satisfied: pyproj>=3.3.0 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: click~=8.0 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: setuptools in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (65.6.3)
Requirement already satisfied: certifi in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (2023.7.22)
Requirement already satisfied: six in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (22.1.0)
Requirement already satisfied: click-plugins>=1.0 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2020.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (1.23.5)

In [123]:
df_zip = gpd.GeoDataFrame(df_zip, geometry=gpd.points_from_xy(df_zip['longitude'], df_zip['latitude']),crs='EPSG:4326')

In [124]:
zipcode_file='input/tl_2017_us_zcta510.zip'

In [125]:
zipcode_gdf = gpd.read_file(f"zip://{zipcode_file}")

In [126]:
zipcode_gdf.head()

,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,43451,43451,B5,G6350,S,63411475,157689,+41.3183010,-083.6174935,"POLYGON ((-83.70873 41.32733, -83.70815 41.327..."
1,43452,43452,B5,G6350,S,121783674,13437380,+41.5157923,-082.9809454,"POLYGON ((-83.08698 41.53780, -83.08256 41.537..."
2,43456,43456,B5,G6350,S,9389362,999166,+41.6468445,-082.8226641,"MULTIPOLYGON (((-82.83558 41.71082, -82.83515 ..."
3,43457,43457,B5,G6350,S,48035540,0,+41.2673266,-083.4274645,"POLYGON ((-83.49650 41.25371, -83.48382 41.253..."
4,43458,43458,B5,G6350,S,2573816,39915,+41.5304461,-083.2133648,"POLYGON ((-83.22229 41.53102, -83.22228 41.532..."

In [127]:
zipcode_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 33144 entries, 0 to 33143
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZCTA5CE10   33144 non-null  object
 1   GEOID10     33144 non-null  object
 2   CLASSFP10   33144 non-null  object
 3   MTFCC10     33144 non-null  object
 4   FUNCSTAT10  33144 non-null  object
 5   ALAND10     33144 non-null  int64
 6   AWATER10    33144 non-null  int64
 7   INTPTLAT10  33144 non-null  object
 8   INTPTLON10  33144 non-null  object
 9   geometry    33144 non-null  geometry
dtypes: geometry(1), int64(2), object(7)
memory usage: 2.5+ MB

In [128]:
df_zip.to_crs(epsg=4269, inplace=True)
df_zip.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - onshore and offshore: Canada - Alberta; British Columbia; Manitoba; New Brunswick; Newfoundland and Labrador; Northwest Territories; Nova Scotia; Nunavut; Ontario; Prince Edward Island; Quebec; Saskatchewan; Yukon. Puerto Rico. United States (USA) - Alabama; Alaska; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Hawaii; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming. US Virgin Islands. British Virgin Islands.
- bounds: (167.65, 14.92, -40.73, 86.45)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [129]:
zipcode_gdf.shape

(33144, 10)

In [130]:
df_with_zips = gpd.sjoin(df_zip, zipcode_gdf, how="inner")

In [131]:
df_with_zips.shape

(1243827, 14)

In [132]:
df_with_zips.head()

,id,latitude,longitude,geometry,index_right,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10
0,35575312,37.97405,-81.15124,POINT (-81.15124 37.97405),7248,25901,25901,B5,G6350,S,85074437,1005413,+37.9507017,-081.1170495
1,635519741001985764,44.46062,-109.49870,POINT (-109.49870 44.46062),22397,82414,82414,B5,G6350,S,7301687089,42106481,+44.4923865,-109.5935975
2,50490291,34.93313,-84.01243,POINT (-84.01243 34.93313),6719,30512,30512,B5,G6350,S,575285621,17537520,+34.8567531,-083.9679983
3,40991125,35.68081,-105.92927,POINT (-105.92927 35.68081),7353,87501,87501,B5,G6350,S,206592367,189434,+35.7441365,-105.8568094
4,52090522,35.47187,-82.97092,POINT (-82.97092 35.47187),18768,28786,28786,B5,G6350,S,192725533,207589,+35.4620050,-082.9890680

In [133]:
df_with_zips=df_with_zips[['id','ZCTA5CE10']]
df_with_zips.columns=['id','ZipCode']

In [134]:
df_with_zips.head()

                   id ZipCode
0            35575312   25901
1  635519741001985764   82414
2            50490291   30512
3            40991125   87501
4            52090522   28786

In [135]:
df_with_zips.shape

(1243827, 2)

### **5.1 Adding Zip Codes to the DataFrame**

In [136]:
df=pd.merge(df,df_with_zips,on='id',how='left')

In [137]:
df['id'].value_counts()

id
7729074               2
663068861954821831    2
35575312              1
53584071              1
47581518              1
                     ..
44463986              1
44268442              1
17640256              1
582639942520681943    1
50170556              1
Name: count, Length: 1252866, dtype: int64

**After merging, we can see that there are duplicate records corresponding to certain ids.**

In [138]:
# Dropping Duplicate Records
df=df.drop_duplicates(subset=['id'], keep='last')

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1252866 entries, 0 to 1252867
Data columns (total 36 columns):
 #   Column                                        Non-Null Count    Dtype
---  ------                                        --------------    -----
 0   id                                            1252866 non-null  int64
 1   host_id                                       1252866 non-null  int64
 2   host_name                                     1245116 non-null  object
 3   host_since                                    1245117 non-null  object
 4   host_location                                 1242849 non-null  object
 5   host_identity_verified                        1245117 non-null  object
 6   latitude                                      1252866 non-null  float64
 7   longitude                                     1252866 non-null  float64
 8   property_type                                 1252866 non-null  object
 9   room_type                                     1252866 non-null  object
 10  accommodates                                  1252866 non-null  int64
 11  bedrooms                                      1252866 non-null  float64
 12  beds                                          1252866 non-null  float64
 13  price                                         1252866 non-null  float64
 14  minimum_nights                                1252866 non-null  int64
 15  maximum_nights                                1252866 non-null  int64
 16  number_of_reviews                             1252866 non-null  int64
 17  number_of_reviews_ltm                         1252866 non-null  int64
 18  number_of_reviews_l30d                        1252866 non-null  int64
 19  review_scores_rating                          1047712 non-null  float64
 20  instant_bookable                              1252866 non-null  object
 21  calculated_host_listings_count                1252866 non-null  int64
 22  calculated_host_listings_count_entire_homes   1252866 non-null  int64
 23  calculated_host_listings_count_private_rooms  1252866 non-null  int64
 24  calculated_host_listings_count_shared_rooms   1252866 non-null  int64
 25  region_name                                   1252866 non-null  object
 26  region_parent_name                            1252866 non-null  object
 27  reviews_per_month                             1047712 non-null  float64
 28  with_license                                  1252866 non-null  int64
 29  STR_vs_LTR                                    1252866 non-null  object
 30  estimated_booking_ltm                         1252866 non-null  int64
 31  estimated_nights_ltm                          1252866 non-null  int64
 32  estimated_revenue_ltm                         1252866 non-null  float64
 33  Frequency_of_renting                          1252866 non-null  object
 34  Commercial_Nature                             1252866 non-null  object
 35  ZipCode                                       1243825 non-null  object
dtypes: float64(8), int64(15), object(13)
memory usage: 353.7+ MB

In [140]:
# Number of Missing Values for Zip Codes
df['ZipCode'].isna().sum()

9041

### **5.2 Adding a New Column 'City' to the DataFrame**

In [141]:
df['ZipCode'] = df['ZipCode'].fillna(0).astype(int)

In [142]:
# Reading the CSV file with 'City' & 'Zip_Code' data 
df1 = pd.read_csv('input/City.csv')

In [143]:
df1.head()

   Zip_Code        City
0     58784     Stanley
1     59029    Fromberg
2     59047  Livingston
3     59072     Roundup
4     59106    Billings

In [144]:
# Renaming the Columns
df1.columns=['ZipCode', 'City']

In [145]:
df1['ZipCode'] = df1['ZipCode'].fillna(0).astype(int)

In [146]:
df_final = df.set_index('ZipCode').join(df1.set_index('ZipCode'))

In [147]:
df_final.reset_index(inplace=True)

In [148]:
df_final['ZipCode'][df_final['City'].isna()==1].value_counts()

ZipCode
0        9041
98205       9
83601       2
54934       1
84144       1
20307       1
Name: count, dtype: int64

**Apart from the rows with Null Values for Zip_Codes (9041 Rows), there are certain other rows for which 'City' Data is not available despite having the Zip Codes.**

In [149]:
# Adding 'City' data for listings where 'City' data is not available despite having Zip Codes
df_final['City'][df_final['ZipCode']==98205]='Everett'
df_final['City'][df_final['ZipCode']==20307]='Washington'
df_final['City'][df_final['ZipCode']==54934]='Eureka'
df_final['City'][df_final['ZipCode']==83601]='Atlanta'
df_final['City'][df_final['ZipCode']==84144]='Salt Lake City'

/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_55978/2802197075.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_final['City'][df_final['ZipCode']==98205]='Everett'
/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_55978/2802197075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['City'][df_final['ZipCode']==98205]='Everett'
/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_55978/2802197075.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_final['City'][df_final['ZipCode']==20307]='Washington'
/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_55978/2802197075.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['City'][df_final['ZipCode']==20307]='Washington'
/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_55978/2802197075.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_final['City'][df_final['ZipCode']==54934]='Eureka'
/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_55978/2802197075.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['City'][df_final['ZipCode']==54934]='Eureka'
/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_55978/2802197075.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_final['City'][df_final['ZipCode']==83601]='Atlanta'
/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_55978/2802197075.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['City'][df_final['ZipCode']==83601]='Atlanta'
/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_55978/2802197075.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_final['City'][df_final['ZipCode']==84144]='Salt Lake City'
/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_55978/2802197075.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['City'][df_final['ZipCode']==84144]='Salt Lake City'

In [150]:
# Renaming the 'Zip_Code' column
df_final = df_final.rename(columns={'ZipCode': 'Zip Code'})

## **6. Renaming Geographical Hierarchies**

In [151]:
df_final = df_final.rename(columns={'region_parent_name': 'Region/State', 'region_name': 'Province/County'})

In [152]:
df_final.columns

Index(['Zip Code', 'id', 'host_id', 'host_name', 'host_since', 'host_location',
       'host_identity_verified', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bedrooms', 'beds', 'price',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'Province/County',
       'Region/State', 'reviews_per_month', 'with_license', 'STR_vs_LTR',
       'estimated_booking_ltm', 'estimated_nights_ltm',
       'estimated_revenue_ltm', 'Frequency_of_renting', 'Commercial_Nature',
       'City'],
      dtype='object')

## **7. Adding 'Licensed_5' & 'Licensed_10' variables to show which listings are licensed (based on 5% & 10% Thresholds for Licensing Requirements)**

In [153]:
df_c_1=pd.DataFrame(df_final.groupby(['Region/State','City']).with_license.sum())

In [154]:
df_c_2=pd.DataFrame(df_final.groupby(['Region/State','City']).id.count())

In [155]:
df_c_3=pd.DataFrame(df_c_1.values/df_c_2.values)

In [156]:
df_c_3.index=df_c_2.index
df_c_3.columns=['Percentage_Licensed']

In [157]:
df_c_3[df_c_3['Percentage_Licensed']>0.05].shape

(512, 1)

In [158]:
df_c_4=df_c_3.copy()
df_c_4['requires_license_5']=np.where(df_c_4['Percentage_Licensed']>=0.05,1,0)
df_c_4['requires_license_10']=np.where(df_c_4['Percentage_Licensed']>=0.1,1,0)

In [159]:
df_c_4.reset_index(inplace=True)

In [160]:
df_c_4.head()

,Region/State,City,Percentage_Licensed,requires_license_5,requires_license_10
0,Alabama,Abbeville,0.0,0,0
1,Alabama,Adamsville,0.0,0,0
2,Alabama,Akron,0.0,0,0
3,Alabama,Alabaster,0.0,0,0
4,Alabama,Albertville,0.0,0,0

In [161]:
df_fin=df_final.set_index(['Region/State','City']).join(df_c_4.set_index(['Region/State','City']))

In [162]:
df_fin.reset_index(inplace=True)

In [163]:
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1252866 entries, 0 to 1252865
Data columns (total 40 columns):
 #   Column                                        Non-Null Count    Dtype
---  ------                                        --------------    -----
 0   Region/State                                  1252866 non-null  object
 1   City                                          1243825 non-null  object
 2   Zip Code                                      1252866 non-null  int64
 3   id                                            1252866 non-null  int64
 4   host_id                                       1252866 non-null  int64
 5   host_name                                     1245116 non-null  object
 6   host_since                                    1245117 non-null  object
 7   host_location                                 1242849 non-null  object
 8   host_identity_verified                        1245117 non-null  object
 9   latitude                                      1252866 non-null  float64
 10  longitude                                     1252866 non-null  float64
 11  property_type                                 1252866 non-null  object
 12  room_type                                     1252866 non-null  object
 13  accommodates                                  1252866 non-null  int64
 14  bedrooms                                      1252866 non-null  float64
 15  beds                                          1252866 non-null  float64
 16  price                                         1252866 non-null  float64
 17  minimum_nights                                1252866 non-null  int64
 18  maximum_nights                                1252866 non-null  int64
 19  number_of_reviews                             1252866 non-null  int64
 20  number_of_reviews_ltm                         1252866 non-null  int64
 21  number_of_reviews_l30d                        1252866 non-null  int64
 22  review_scores_rating                          1047712 non-null  float64
 23  instant_bookable                              1252866 non-null  object
 24  calculated_host_listings_count                1252866 non-null  int64
 25  calculated_host_listings_count_entire_homes   1252866 non-null  int64
 26  calculated_host_listings_count_private_rooms  1252866 non-null  int64
 27  calculated_host_listings_count_shared_rooms   1252866 non-null  int64
 28  Province/County                               1252866 non-null  object
 29  reviews_per_month                             1047712 non-null  float64
 30  with_license                                  1252866 non-null  int64
 31  STR_vs_LTR                                    1252866 non-null  object
 32  estimated_booking_ltm                         1252866 non-null  int64
 33  estimated_nights_ltm                          1252866 non-null  int64
 34  estimated_revenue_ltm                         1252866 non-null  float64
 35  Frequency_of_renting                          1252866 non-null  object
 36  Commercial_Nature                             1252866 non-null  object
 37  Percentage_Licensed                           1243825 non-null  float64
 38  requires_license_5                            1243825 non-null  float64
 39  requires_license_10                           1243825 non-null  float64
dtypes: float64(11), int64(16), object(13)
memory usage: 382.3+ MB

In [164]:
# For 5% Threshold
df_fin.loc[(df_fin['with_license']==1),'licensed_5']="Licensed"
df_fin.loc[(df_fin['with_license']==0) & (df_fin['requires_license_5']==0),'licensed_5']="Exempt"
df_fin.loc[(df_fin['with_license']==0) & (df_fin['requires_license_5']==1),'licensed_5']="Unlicensed"

In [165]:
# For 10% Threshold
df_fin.loc[(df_fin['with_license']==1),'licensed_10']="Licensed"
df_fin.loc[(df_fin['with_license']==0) & (df_fin['requires_license_10']==0),'licensed_10']="Exempt"
df_fin.loc[(df_fin['with_license']==0) & (df_fin['requires_license_10']==1),'licensed_10']="Unlicensed"

In [166]:
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1252866 entries, 0 to 1252865
Data columns (total 42 columns):
 #   Column                                        Non-Null Count    Dtype
---  ------                                        --------------    -----
 0   Region/State                                  1252866 non-null  object
 1   City                                          1243825 non-null  object
 2   Zip Code                                      1252866 non-null  int64
 3   id                                            1252866 non-null  int64
 4   host_id                                       1252866 non-null  int64
 5   host_name                                     1245116 non-null  object
 6   host_since                                    1245117 non-null  object
 7   host_location                                 1242849 non-null  object
 8   host_identity_verified                        1245117 non-null  object
 9   latitude                                      1252866 non-null  float64
 10  longitude                                     1252866 non-null  float64
 11  property_type                                 1252866 non-null  object
 12  room_type                                     1252866 non-null  object
 13  accommodates                                  1252866 non-null  int64
 14  bedrooms                                      1252866 non-null  float64
 15  beds                                          1252866 non-null  float64
 16  price                                         1252866 non-null  float64
 17  minimum_nights                                1252866 non-null  int64
 18  maximum_nights                                1252866 non-null  int64
 19  number_of_reviews                             1252866 non-null  int64
 20  number_of_reviews_ltm                         1252866 non-null  int64
 21  number_of_reviews_l30d                        1252866 non-null  int64
 22  review_scores_rating                          1047712 non-null  float64
 23  instant_bookable                              1252866 non-null  object
 24  calculated_host_listings_count                1252866 non-null  int64
 25  calculated_host_listings_count_entire_homes   1252866 non-null  int64
 26  calculated_host_listings_count_private_rooms  1252866 non-null  int64
 27  calculated_host_listings_count_shared_rooms   1252866 non-null  int64
 28  Province/County                               1252866 non-null  object
 29  reviews_per_month                             1047712 non-null  float64
 30  with_license                                  1252866 non-null  int64
 31  STR_vs_LTR                                    1252866 non-null  object
 32  estimated_booking_ltm                         1252866 non-null  int64
 33  estimated_nights_ltm                          1252866 non-null  int64
 34  estimated_revenue_ltm                         1252866 non-null  float64
 35  Frequency_of_renting                          1252866 non-null  object
 36  Commercial_Nature                             1252866 non-null  object
 37  Percentage_Licensed                           1243825 non-null  float64
 38  requires_license_5                            1243825 non-null  float64
 39  requires_license_10                           1243825 non-null  float64
 40  licensed_5                                    1244129 non-null  object
 41  licensed_10                                   1244129 non-null  object
dtypes: float64(11), int64(16), object(15)
memory usage: 401.5+ MB

### **7.1 Adding a New Column 'Country' to the Dataset**

In [167]:
df_fin['Country']="USA"

In [168]:
df_fin.head()

,Region/State,City,Zip Code,id,host_id,host_name,host_since,host_location,host_identity_verified,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,Province/County,reviews_per_month,with_license,STR_vs_LTR,estimated_booking_ltm,estimated_nights_ltm,estimated_revenue_ltm,Frequency_of_renting,Commercial_Nature,Percentage_Licensed,requires_license_5,requires_license_10,licensed_5,licensed_10,Country
0,West Virginia,Oak Hill,25901,35575312,60091041,Jeanne,2016-02-23,"Murrells Inlet, South Carolina, United States",t,37.97405,-81.15124,Entire cottage,Entire home/apt,4,3.0,3.0,150.0,1,14,45,13,0,4.78,f,7,7,0,0,Fayette,1.33,0,STR,26,78,11700.0,semi_regularly rented,Commercial,0.000000,0.0,0.0,Exempt,Exempt,USA
1,Wyoming,Cody,82414,635519741001985764,80717299,Cody Lodging,2016-06-29,"Cody, Wyoming, United States",t,44.46062,-109.49870,Entire home,Entire home/apt,6,3.0,3.0,513.0,1,365,0,0,0,NaN,t,79,78,1,0,Park,NaN,0,STR,0,0,0.0,occasionally rented,Commercial,0.000000,0.0,0.0,Exempt,Exempt,USA
2,Georgia,Blairsville,30512,50490291,22954841,Paul,2014-10-25,"Blairsville, Georgia, United States",t,34.93313,-84.01243,Entire cabin,Entire home/apt,6,3.0,5.0,145.0,2,28,10,10,0,5.00,t,1,1,0,0,Union,0.84,0,STR,20,60,8700.0,semi_regularly rented,Semi-Commercial,0.000000,0.0,0.0,Exempt,Exempt,USA
3,New Mexico,Santa Fe,87501,40991125,212710788,Jessica,2018-08-30,"Santa Fe, New Mexico, United States",t,35.68081,-105.92927,Entire home,Entire home/apt,2,1.0,1.0,196.0,2,7,19,9,3,4.89,f,2,2,0,0,Santa Fe,0.73,1,STR,18,54,10584.0,semi_regularly rented,Commercial,0.620345,1.0,1.0,Licensed,Licensed,USA
4,North Carolina,Waynesville,28786,52090522,119778179,Jessica,2017-03-08,"Hendersonville, North Carolina, United States",f,35.47187,-82.97092,Entire guesthouse,Entire home/apt,2,1.0,1.0,120.0,2,1125,3,3,0,5.00,t,1,1,0,0,Haywood,0.32,0,STR,6,18,2160.0,occasionally rented,Home Sharing,0.000000,0.0,0.0,Exempt,Exempt,USA

In [169]:
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1252866 entries, 0 to 1252865
Data columns (total 43 columns):
 #   Column                                        Non-Null Count    Dtype
---  ------                                        --------------    -----
 0   Region/State                                  1252866 non-null  object
 1   City                                          1243825 non-null  object
 2   Zip Code                                      1252866 non-null  int64
 3   id                                            1252866 non-null  int64
 4   host_id                                       1252866 non-null  int64
 5   host_name                                     1245116 non-null  object
 6   host_since                                    1245117 non-null  object
 7   host_location                                 1242849 non-null  object
 8   host_identity_verified                        1245117 non-null  object
 9   latitude                                      1252866 non-null  float64
 10  longitude                                     1252866 non-null  float64
 11  property_type                                 1252866 non-null  object
 12  room_type                                     1252866 non-null  object
 13  accommodates                                  1252866 non-null  int64
 14  bedrooms                                      1252866 non-null  float64
 15  beds                                          1252866 non-null  float64
 16  price                                         1252866 non-null  float64
 17  minimum_nights                                1252866 non-null  int64
 18  maximum_nights                                1252866 non-null  int64
 19  number_of_reviews                             1252866 non-null  int64
 20  number_of_reviews_ltm                         1252866 non-null  int64
 21  number_of_reviews_l30d                        1252866 non-null  int64
 22  review_scores_rating                          1047712 non-null  float64
 23  instant_bookable                              1252866 non-null  object
 24  calculated_host_listings_count                1252866 non-null  int64
 25  calculated_host_listings_count_entire_homes   1252866 non-null  int64
 26  calculated_host_listings_count_private_rooms  1252866 non-null  int64
 27  calculated_host_listings_count_shared_rooms   1252866 non-null  int64
 28  Province/County                               1252866 non-null  object
 29  reviews_per_month                             1047712 non-null  float64
 30  with_license                                  1252866 non-null  int64
 31  STR_vs_LTR                                    1252866 non-null  object
 32  estimated_booking_ltm                         1252866 non-null  int64
 33  estimated_nights_ltm                          1252866 non-null  int64
 34  estimated_revenue_ltm                         1252866 non-null  float64
 35  Frequency_of_renting                          1252866 non-null  object
 36  Commercial_Nature                             1252866 non-null  object
 37  Percentage_Licensed                           1243825 non-null  float64
 38  requires_license_5                            1243825 non-null  float64
 39  requires_license_10                           1243825 non-null  float64
 40  licensed_5                                    1244129 non-null  object
 41  licensed_10                                   1244129 non-null  object
 42  Country                                       1252866 non-null  object
dtypes: float64(11), int64(16), object(16)
memory usage: 411.0+ MB

In [170]:
df_fin

,Region/State,City,Zip Code,id,host_id,host_name,host_since,host_location,host_identity_verified,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,Province/County,reviews_per_month,with_license,STR_vs_LTR,estimated_booking_ltm,estimated_nights_ltm,estimated_revenue_ltm,Frequency_of_renting,Commercial_Nature,Percentage_Licensed,requires_license_5,requires_license_10,licensed_5,licensed_10,Country
0,West Virginia,Oak Hill,25901,35575312,60091041,Jeanne,2016-02-23,"Murrells Inlet, South Carolina, United States",t,37.974050,-81.151240,Entire cottage,Entire home/apt,4,3.0,3.0,150.0,1,14,45,13,0,4.78,f,7,7,0,0,Fayette,1.33,0,STR,26,78,11700.0,semi_regularly rented,Commercial,0.000000,0.0,0.0,Exempt,Exempt,USA
1,Wyoming,Cody,82414,635519741001985764,80717299,Cody Lodging,2016-06-29,"Cody, Wyoming, United States",t,44.460620,-109.498700,Entire home,Entire home/apt,6,3.0,3.0,513.0,1,365,0,0,0,NaN,t,79,78,1,0,Park,NaN,0,STR,0,0,0.0,occasionally rented,Commercial,0.000000,0.0,0.0,Exempt,Exempt,USA
2,Georgia,Blairsville,30512,50490291,22954841,Paul,2014-10-25,"Blairsville, Georgia, United States",t,34.933130,-84.012430,Entire cabin,Entire home/apt,6,3.0,5.0,145.0,2,28,10,10,0,5.00,t,1,1,0,0,Union,0.84,0,STR,20,60,8700.0,semi_regularly rented,Semi-Commercial,0.000000,0.0,0.0,Exempt,Exempt,USA
3,New Mexico,Santa Fe,87501,40991125,212710788,Jessica,2018-08-30,"Santa Fe, New Mexico, United States",t,35.680810,-105.929270,Entire home,Entire home/apt,2,1.0,1.0,196.0,2,7,19,9,3,4.89,f,2,2,0,0,Santa Fe,0.73,1,STR,18,54,10584.0,semi_regularly rented,Commercial,0.620345,1.0,1.0,Licensed,Licensed,USA
4,North Carolina,Waynesville,28786,52090522,119778179,Jessica,2017-03-08,"Hendersonville, North Carolina, United States",f,35.471870,-82.970920,Entire guesthouse,Entire home/apt,2,1.0,1.0,120.0,2,1125,3,3,0,5.00,t,1,1,0,0,Haywood,0.32,0,STR,6,18,2160.0,occasionally rented,Home Sharing,0.000000,0.0,0.0,Exempt,Exempt,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1252861,Illinois,Kankakee,60901,14730775,41556455,Sherry,2015-08-15,"Kankakee, Illinois, United States",t,41.143270,-87.926940,Private room in home,Private room,2,1.0,1.0,41.0,1,1125,24,5,1,5.00,f,3,0,3,0,Kankakee,0.35,0,STR,10,30,1230.0,occasionally rented,Home Sharing,0.000000,0.0,0.0,Exempt,Exempt,USA
1252862,Guam,Hagatna,96910,37499033,15194074,Asia,2014-05-06,"Gardena, California, United States",t,13.460430,144.765710,Entire rental unit,Entire home/apt,4,2.0,2.0,85.0,4,1125,0,0,0,NaN,f,20,20,0,0,Guam,NaN,0,STR,0,0,0.0,occasionally rented,Commercial,0.000000,0.0,0.0,Exempt,Exempt,USA
1252863,Georgia,Savannah,31401,51367371,814996,Diana,2011-07-13,"Pismo Beach, California, United States",t,32.068192,-81.097473,Entire rental unit,Entire home/apt,4,2.0,3.0,140.0,1,28,55,55,6,4.87,f,11,11,0,0,Chatham,8.09,0,STR,110,255,35700.0,rented full time,Commercial,0.000000,0.0,0.0,Exempt,Exempt,USA
1252864,Idaho,Rexburg,83440,5551151,28783487,Brett,2015-03-05,"Rexburg, Idaho, United States",f,43.792440,-111.820020,Entire home,Entire home/apt,16,5.0,11.0,650.0,3,1125,49,12,4,4.49,t,6,4,2,0,Madison,0.57,0,STR,24,72,46800.0,semi_regularly rented,Commercial,0.000000,0.0,0.0,Exempt,Exempt,USA
1252865,Vermont,Quechee,5059,50170556,404479892,Jay,2021-05-31,"Norwich, Vermont, United States",t,43.646780,-72.420360,Entire home,Entire home/apt,2,2.0,1.0,145.0,2,1125,65,61,5,4.82,f,1,1,0,0,Windsor,4.99,0,STR,122,255,36975.0,rented full time,Commercial,0.071429,1.0,0.0,Unlicensed,Exempt,USA

* **Exporting the Cleaned .csv File**

In [172]:
df_fin.to_csv('USA.csv')