* **Mounting the Drive**

In [1]:
# Mounting the Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **1. Importing the Required Modules**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/Users/ananthakrishnakalle/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## **2. Importing the Cleaned Datasets**

In [2]:
# Importing Dataset for USA
df_usa=pd.read_csv('USA.csv',index_col=0)

In [3]:
# Importing Dataset for Italy
df_italy=pd.read_csv('Italy.csv',index_col=0)

* **Printing the Column Names of both Datasets**

In [4]:
# Columns for USA Dataset
df_usa.columns

Index(['Region/State', 'City', 'Zip Code', 'id', 'host_id', 'host_name',
       'host_since', 'host_location', 'host_identity_verified', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bedrooms',
       'beds', 'price', 'minimum_nights', 'maximum_nights',
       'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'Province/County',
       'reviews_per_month', 'with_license', 'STR_vs_LTR',
       'estimated_booking_ltm', 'estimated_nights_ltm',
       'estimated_revenue_ltm', 'Frequency_of_renting', 'Commercial_Nature',
       'Percentage_Licensed', 'requires_license_5', 'requires_license_10',
       'licensed_5', 'licensed_10', 'Country'],
      dtype='object')

In [5]:
df_usa.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1252866 entries, 0 to 1252865
Data columns (total 43 columns):
 #   Column                                        Non-Null Count    Dtype
---  ------                                        --------------    -----
 0   Region/State                                  1252866 non-null  object
 1   City                                          1243825 non-null  object
 2   Zip Code                                      1252866 non-null  int64
 3   id                                            1252866 non-null  int64
 4   host_id                                       1252866 non-null  int64
 5   host_name                                     1245116 non-null  object
 6   host_since                                    1245117 non-null  object
 7   host_location                                 1242849 non-null  object
 8   host_identity_verified                        1245117 non-null  object
 9   latitude                                      1252866 non-null  float64
 10  longitude                                     1252866 non-null  float64
 11  property_type                                 1252866 non-null  object
 12  room_type                                     1252866 non-null  object
 13  accommodates                                  1252866 non-null  int64
 14  bedrooms                                      1252866 non-null  float64
 15  beds                                          1252866 non-null  float64
 16  price                                         1252866 non-null  float64
 17  minimum_nights                                1252866 non-null  int64
 18  maximum_nights                                1252866 non-null  int64
 19  number_of_reviews                             1252866 non-null  int64
 20  number_of_reviews_ltm                         1252866 non-null  int64
 21  number_of_reviews_l30d                        1252866 non-null  int64
 22  review_scores_rating                          1047712 non-null  float64
 23  instant_bookable                              1252866 non-null  object
 24  calculated_host_listings_count                1252866 non-null  int64
 25  calculated_host_listings_count_entire_homes   1252866 non-null  int64
 26  calculated_host_listings_count_private_rooms  1252866 non-null  int64
 27  calculated_host_listings_count_shared_rooms   1252866 non-null  int64
 28  Province/County                               1252866 non-null  object
 29  reviews_per_month                             1047712 non-null  float64
 30  with_license                                  1252866 non-null  int64
 31  STR_vs_LTR                                    1252866 non-null  object
 32  estimated_booking_ltm                         1252866 non-null  int64
 33  estimated_nights_ltm                          1252866 non-null  int64
 34  estimated_revenue_ltm                         1252866 non-null  float64
 35  Frequency_of_renting                          1252866 non-null  object
 36  Commercial_Nature                             1252866 non-null  object
 37  Percentage_Licensed                           1243825 non-null  float64
 38  requires_license_5                            1243825 non-null  float64
 39  requires_license_10                           1243825 non-null  float64
 40  licensed_5                                    1244129 non-null  object
 41  licensed_10                                   1244129 non-null  object
 42  Country                                       1252866 non-null  object
dtypes: float64(11), int64(16), object(16)
memory usage: 420.6+ MB

In [6]:
# Columns for Italy Dataset
df_italy.columns

Index(['Region/State', 'City', 'id', 'host_id', 'host_name', 'host_since',
       'host_location', 'host_identity_verified', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bedrooms', 'beds',
       'price', 'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'Province/County',
       'region_parent_parent_id', 'reviews_per_month', 'with_license',
       'STR_vs_LTR', 'estimated_booking_ltm', 'estimated_nights_ltm',
       'estimated_revenue_ltm', 'Frequency_of_renting', 'Commercial_Nature',
       'Percentage_Licensed', 'requires_license_5', 'requires_license_10',
       'licensed_5', 'licensed_10', 'Country'],
      dtype='object')

In [7]:
# Dropping the Column 'region_parent_parent_id' for Italy Dataset
df_italy=df_italy.drop(['region_parent_parent_id'],axis=1)

In [8]:
# Adding a Column for 'Zip_Code' for Italy Dataset & filling it with 0s
df_italy['Zip Code']=0

## **3. Concatenating the DataFrames**

In [9]:
df=pd.concat([df_usa,df_italy],join="outer",keys=df_usa.columns)

/var/folders/15/sz9sykc94dbgsj57ltpdvw4m0000gn/T/ipykernel_53803/1975786007.py:1: FutureWarning: The behavior of pd.concat with len(keys) != len(objs) is deprecated. In a future version this will raise instead of truncating to the smaller of the two sequences
  df=pd.concat([df_usa,df_italy],join="outer",keys=df_usa.columns)

In [10]:
df['Country'].value_counts()

Country
USA      1252866
Italy     440305
Name: count, dtype: int64

* **Exporting the Merged .csv File**

In [11]:
df.to_csv('Final_listings.csv',index=False)